@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
  padding-top: 0.5rem;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active {
  color: rgb(10, 10, 10);
  background-color: rgb(84, 228, 197);
}
/* nav ul li a.active, */
nav ul li a:hover {
  color: #111;
  background: rgb(179, 225, 20, 0.76);
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.socialNet img {
  width: 1.6rem;
  height: 1.6rem;

  margin-left: 1.5rem;
  position: relative;
  top: -3.3rem;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div {
  font-size: 40px;
  font-weight: 700;
}

input[type="checkbox"] {
  display: none;
}
/* media  */
/* @media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
} */
/* nav bar */
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 3px;
    left: -100%;
    background: #111;
    height: 100%;
    margin: 0;
    width: 30%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
    z-index: 100;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;

    color: rgba(31, 216, 176, 0.938);
  }
  .socialNet img {
    width: 1rem;
    height: 1rem;
    left: 0.5rem;
  }
}
.banner p {
  width: 80%;
}
/* @media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100%;

    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
    z-index: 100;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;

    color: rgba(31, 216, 176, 0.938);
  }
} */

footer .socialNet img {
  /* height: 9rem; */

  width: 2rem;
  height: 2rem;
  /* padding: 0.5rem; */
  margin-left: 1.5rem;
  position: relative;
  top: -3.3rem;
  left: 53rem;

  /* justify-content: space-between; */
}
/* background-color: #fff; */
/* @media (min-width: 0px) and (max-width: 411px) {
  nav {
    width: 100%;
    margin: 0 0;
   
  }
} */
/* @media (min-width: 0) and (max-width: 1440px) {

} */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* body {
    background-color: rgb(35, 192, 192);
  } */
  nav {
    width: 100%;
  }
  /* .socialNet img {
      
    } */
  #banner p {
    font-size: 1.3rem;
  }
  .container1 .boxx:last-child {
    margin-top: 1rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .subHeading p {
    max-width: 100%;
    width: 80rem;
    font-family: "Times New Roman", Arial, serif, "sans-serif ";
    font-size: 1.3rem;
  }
}

/* ipad */
@media (min-width: 0px) and (max-width: 768px) {
  /* body {
    background-color: rgb(165, 78, 187);
  } */
  .socialNet img {
    left: 0.5rem;
  }
  /* image selling  */
  #banner .logo img {
    width: 18rem;
    height: 9rem;
  }
  #banner p {
    font-size: 1.6rem;
    text-align: center;
    margin-left: 5rem;
  }
  .container1 .boxx {
    padding: 0.9rem 1.5rem;
  }

  .boxx p {
    position: relative;
    left: 2rem;
    font-family: serif;
    font-size: 1.3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .subHeading p {
    font-family: "Times New Roman", Arial, serif, "sans-serif ";
    font-size: 1.6rem;
  }
}
/* iphone 7 plus  */
@media (min-width: 0px) and (max-width: 414px) {
  /* body {
    background-color: rgb(54, 100, 161);
  } */

  /* image selling  */
  #banner .logo img {
    width: 11rem;
    height: 6rem;
  }
  #banner p {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 1.9rem;
  }
  .container1 .boxx {
    padding: 0.9rem 1.5rem;
  }

  .boxx p {
    position: relative;
    left: 2rem;
    font-family: serif;
  }
  h2 {
    font-size: 1.4rem;
  }
  .subHeading p {
    font-family: "Times New Roman", Arial, serif, "sans-serif ";
    font-size: 1.2rem;
  }
}

@media (min-width: 0px) and (max-width: 411px) {
  /* body {
    background-color: rgb(54, 100, 161);
  } */

  /* image selling  */

  .container1 .boxx {
    padding: 0.9rem 1.5rem;
  }

  .boxx p {
    position: relative;
    left: 3.4rem;
    font-family: serif;
  }
  h2 {
    font-size: 1.4rem;
  }
  .subHeading p {
    font-family: serif, "sans-serif ";
    font-size: 1.2rem;
  }
}

/*iphone 7/6/8 */
/* @media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) { */
@media screen and (max-width: 410px) and (min-width: 375px) {
  /* body {
    background-color: rgb(69, 77, 13);
  } */
  h2 {
    font-size: 1.5rem;
  }
  #banner .logo img {
    width: 70%;
    height: 5rem;
  }
  #banner p {
    line-height: 1.3rem;
  }

  .boxx p {
    position: relative;
    font-size: 1rem;
  }
  .subHeading p {
    font-size: 1.2rem;
    line-height: 1.2;
    font-family: "Times New Roman", serif, "sans-serif ";
  }
}
/*iphone 5*/
@media (min-width: 0px) and (max-width: 320px) {
  /* body {
    background-color: rgb(127, 131, 99);
  } */
  h2 {
    font-size: 1.4rem;
  }

  .boxx p {
    position: absolute;
    /* top: 74rem; */
    font-size: 1rem;
    font-weight: 500;
  }
  .subHeading p {
    font-size: 1rem;
    line-height: 1.1;
    font-family: serif, "sans-serif ";
  }
}
