@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* navigation bar */
body {
  background-color: #f4f0f0;
}
nav {
  height: 80px;
  width: 100%;
  background: #111;
  align-items: center;
  justify-content: space-between;
  padding: 11px 50px 0 50px;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
}
/* .navleft nav ul {
  margin-left: 4rem;
} */
#navleft {
  float: left;
}
#navright {
  float: right;
}
/* #navright p {
  float: left;
  margin: 0 2rem;
} */
#navright a {
  padding: 8px 15px;
  height: 40px;
  width: 40px;

  background: #353232;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

#navright a:hover {
  background: red;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* margin-left: 1rem; */
}

nav ul li {
  margin: 0 5px;
  padding-top: 0.5rem;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active {
  color: rgb(10, 10, 10);
  background-color: rgb(84, 228, 197);
}
/* nav ul li a.active, */
nav ul li a:hover {
  color: #111;
  background: rgb(179, 225, 20, 0.76);
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
/* drop down content */
button {
  background-color: #1b1b1b;
  /* background-color: black; */
  font-size: 16px;
  font-weight: 500;
  border: none;
  letter-spacing: 1px;
  color: #f2f2f2;
  font-weight: 500;
  border: none !important;
  outline: none;
}
button:hover {
  /* color: rgb(10, 10, 10); */
  color: black;
  border-radius: 5px;
  padding: 5px 12px;
  background: rgb(179, 225, 20, 0.76);
  /* background-color: rgb(84, 228, 197); */
  border: none !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #fff;
  background-color: #080808;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  /* color: black; */
  background-color: rgb(182, 186, 183);

  /* background-color: blue; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div {
  font-size: 40px;
  font-weight: 700;
}

input[type="checkbox"] {
  display: none;
}

/* banner */

#banner {
  position: relative;
  background-size: cover;
  text-align: center;
  width: 100%;
}

#banner .logo img {
  width: 25%;
  height: 11rem;
  margin-left: 2rem;
  margin-top: 5rem;
}
#banner img {
  width: 75%;
  height: 21em;
  /* margin-left: 5rem; */
}
#banner .about {
  position: relative;
  background-size: cover;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
#banner p {
  color: black;
}
#banner p:first-child {
  margin-bottom: 1rem;

  font-size: 2rem;
}
#banner p:last-child {
  /* width: 80%; */
  position: relative;
  background-size: cover;
  text-align: center;
  margin-bottom: 5rem;
  margin: 0 auto;
  /* margin-left: 10rem; */
  font-size: 1.2rem;
}
/* sub title  */
#stellaimg {
  position: relative;
  background-size: cover;
  text-align: center;
  margin-top: 4rem;
  width: 50%;
  margin: 0 auto;
}

#stellaimg h2 {
  margin-top: 5rem;

  color: black;
}

/* image div */
.container1 {
  display: flex;
  align-items: center;
  min-height: 150px;
  justify-content: space-evenly;
  /* margin: 2rem; */

  flex-wrap: wrap;
  /* margin-top: 1rem; */
}
.container1 {
  margin-top: 1rem;
}
.boxx {
  max-width: 100%;
  max-height: 100%;
  width: 25rem;

  padding: 15px 15px;

  transition: transform 0.2s;

  margin: 0 auto;
}
.boxx p {
  position: relative;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  /* margin-bottom: 8rem; */
}

.boxx img {
  width: 100%;
  margin-top: 4rem;
}
.boxx img:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* footer  */
footer {
  bottom: 0px;
  width: 100%;
  background: #111;
  margin-top: 8rem;
}
.main-footercontent {
  display: flex;
}
.main-footercontent .footerbox {
  flex-basis: 50%;
  padding: 10px 20px;
}
.footerbox h2 {
  font-size: 1.125rem;
  font-weight: 600;
  /* text-transform: uppercase; */
  text-align: center;
}
.footerbox .contentfooter {
  margin: 20px 0 0 0;
  position: relative;
}
.footerbox .contentfooter:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #303130;
}
.footerbox .contentfooter:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  /* background: #f12020; */
  top: -10px;
}
.left .contentfooter p {
  text-align: justify;
}
.left .contentfooter .footersocial {
  margin: 20px 0 0 0;
}
.left .contentfooter .footersocial a {
  padding: 0 2px;
}
.left .contentfooter .footersocial a span {
  height: 40px;
  width: 40px;
  background: #262525;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .contentfooter .footersocial a span:hover {
  background: #f12020;
}
.centerfooter .contentfooter .fas {
  font-size: 1.4375rem;
  background: #262525;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: centerfooter;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.centerfooter .contentfooter .fas:hover {
  background: #f12020;
}
.centerfooter .contentfooter .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.centerfooter .contentfooter .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #1126e0;
}
.right form input:focus,
.right form .msgForm:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
/* textarea .msgForm input {
  color: rgb(238, 230, 230);
} */
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #c9c1c1;
}
.bottom center {
  color: white;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-footercontent {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-footercontent .footerbox {
    margin: 5px 0;
  }
}

/* media querry for body */
@media (min-width: 0px) and (max-width: 920px) {
  /* body {
    background-color: rgb(151, 129, 132);
  } */
  #banner .logo img {
    width: 49%;
    height: 9rem;
  }
  #banner img {
    width: 80%;
    height: 12rem;
  }
  #banner p:first-child {
    font-size: 1.9rem;
  }
  #banner p:last-child {
    width: 100%;
    font-size: 1.1rem;
  }

  .boxx {
    width: 33rem;
  }
  .container1:first-child {
    margin-top: 4rem;
  }
}
@media (min-width: 0) and (max-width: 1440px) {
  /* body {
    background-color: rgb(38, 192, 113);
  } */

  #banner img {
    width: 80%;
    height: 12rem;
  }
  /* BANNER  */
  #banner .logo img {
    width: 40%;
    height: 12rem;
  }
  #banner img {
    width: 80%;
    height: 14rem;
  }

  .boxx {
    width: 25rem;
  }
}

@media (min-width: 0) and (max-width: 1024px) {
  /* body {
    background-color: rgb(139, 125, 86);
  } */

  #banner .logo img {
    width: 49%;
    height: 13rem;
  }
  #banner img {
    width: 80%;
    height: 12rem;
  }
  #banner p:first-child {
    font-size: 1.9rem;
  }
  #banner p:last-child {
    width: 100%;
    font-size: 1.2rem;
  }

  .cards:first-child {
    margin-top: 3rem;
  }
  .boxx {
    width: 25rem;
  }
}
/* 924px */
/* @media (min-width: 0px) and (max-width: 920px) {
  
  #banner .logo img {
    width: 49%;
    height: 9rem;
  }
  #banner img {
    width: 80%;
    height: 12rem;
  }
  #banner p:first-child {
    font-size: 1.9rem;
  }
  #banner p:last-child {
    width: 100%;
    font-size: 1.1rem;
  }
 

  .cards {
    margin-top: 4rem;
  }
  .boxx {
    width: 33rem;
  }
} */

/* ipad */
@media only screen and (max-width: 768px) {
  /* body {
    background-color: rgb(201, 138, 149);
  } */

  #banner .logo img {
    width: 50%;
    height: 4 rem;
  }
  #banner img {
    width: 80%;
    height: 12rem;
  }
  #banner p:first-child {
    font-size: 1.1rem;
  }
  #banner p:last-child {
    width: 80%;
    font-size: 1rem;
    margin-bottom: 4rem;
  }

  /* images */
  .container1:first-child {
    margin-top: 4rem;
  }
  .container1 {
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    margin: 0rem auto;
  }
  .container1 img {
    text-align: center;
    width: 90%;
    height: auto;
  }
  .boxx {
    width: 332rem;
  }

  .boxx p {
    /* margin-right: 5rem; */
    margin-left: 2.7rem;
    font-size: 1rem;
  }
}
@media (min-width: 0px) and (max-width: 540px) {
  /* body {
    background-color: rgb(58, 41, 63);
  } */

  /* nav ul li a {
   
    font-size: 1.1rem;
  } */
  /* image selling  */
  #banner .logo img {
    width: 50%;
    height: 6rem;
  }
  #banner img {
    width: 80%;
    height: 8rem;
  }
  #banner p:first-child {
    font-size: 1.1rem;
  }
  #banner p:last-child {
    width: 100%;
    font-size: 0.9rem;
  }

  /* #stellaimg p {
    font-size: 1rem;
  } */
  .cards {
    margin-top: 3rem;
  }
  .boxx {
    width: 25rem;
  }
}
/* iphone 7 plus  */
@media (min-width: 0px) and (max-width: 414px) {
  /* body {
    background-color: rgb(172, 232, 181);
  } */

  #banner .logo img {
    width: 49%;
    height: 5rem;
  }
  #banner img {
    width: 80%;
    height: 5rem;
  }
  #banner p:first-child {
    font-size: 1.2rem;
  }
  #banner p:last-child {
    width: 70%;
    font-size: 0.8rem;
  }
  /* #stellaimg {
    width: 90%;
  }
  #stellaimg p {
    font-size: 0.9rem;
  }
  #stellaimg h2 {
    margin-top: 3rem;
    font-size: 1.4rem;
  }
  #stellaimg img {
    width: 60%;
    height: auto;
  
  } */
  /* h2 {
    font-size: 1.5rem;
  } */
  .container1 {
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    margin: 0rem auto;
  }

  .container1 img {
    text-align: center;
    width: 90%;
    height: auto;
  }
  .boxx {
    width: 29rem;
    /* margin-top: 4rem; */
  }

  .boxx p {
    position: absolute;
    /* top: 74rem; */
    font-size: 1rem;
    font-weight: 500;
    margin-left: 2rem;
  }
}

/* @media (min-width: 0px) and (max-width: 400px) {
  body {
    background-color: rgb(189, 223, 66);
  }

} */

@media (min-width: 0px) and (max-width: 411px) {
  /* body {
    background-color: rgb(124, 60, 60);
  } */
  #banner .logo img {
    width: 44%;
    height: 4rem;
  }
  #banner img {
    width: 80%;
    height: 5rem;
  }
  #banner p:first-child {
    font-size: 1.3rem;
  }
  #banner p:last-child {
    width: 90%;
    font-size: 1rem;
  }
  .container1 {
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    margin: 0rem auto;
  }
  .container1 img {
    text-align: center;
    width: 90%;
    height: auto;
  }
  .boxx {
    width: 24rem;
  }

  .boxx p {
    margin-right: 7rem;
    font-size: 1rem;
  }
}
/* samsung Se10  */
@media (min-width: 0px) and (max-width: 400px) {
  .container1 {
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    margin: 0rem auto;
  }
  .container1 img {
    text-align: center;
    width: 90%;
    height: auto;
  }
  .boxx {
    width: 24rem;
  }

  .boxx p {
    margin-right: 7rem;
    font-size: 1rem;
  }
}
/*iphone 7/6/8 */
@media (min-width: 0px) and (max-width: 375px) {
  /* body {
    background-color: rgb(69, 77, 13);
  } */

  #banner .logo img {
    width: 48%;
    height: 5rem;
  }
  #banner img {
    width: 90%;
    height: 5rem;
  }
  #banner p:first-child {
    font-size: 1.2rem;
  }
  #banner p:last-child {
    width: 80%;
    font-size: 0.8rem;
  }
  .container1 {
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    margin: 0rem auto;
  }

  .container1 img {
    text-align: center;
    width: 90%;
    height: auto;
  }
  .boxx {
    width: 29rem;
    /* margin-top: 4rem; */
  }

  .boxx p {
    position: absolute;

    font-size: 1rem;
    font-weight: 500;
    margin-left: 2rem;
  }
}
@media (min-width: 0px) and (max-width: 360px) {
  /* body {
    background-color: rgb(160, 12, 12);
  } */

  #banner .logo img {
    width: 50%;
    height: 4rem;
    margin-right: 1rem;
  }
  #banner img {
    width: 90%;
    height: 5rem;
  }
  #banner p:first-child {
    font-size: 1rem;
  }
  #banner p:last-child {
    font-size: 0.8rem;
  }

  .container1 {
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    margin: 0rem auto;
  }

  .container1 img {
    text-align: center;
    width: 90%;
    height: auto;
  }
  .boxx {
    width: 29rem;
    /* margin-top: 4rem; */
  }

  .boxx p {
    position: absolute;
    /* top: 74rem; */
    font-size: 1rem;
    font-weight: 500;
    margin-left: 2rem;
  }
}
/*iphone 5*/
@media (min-width: 0px) and (max-width: 320px) {
  /* body {
    background-color: rgb(229, 153, 153);
  } */

  #banner .logo img {
    width: 50%;
    height: 3.5rem;
    margin-right: 1rem;
  }
  #banner img {
    width: 90%;
    height: 5rem;
  }
  #banner p:first-child {
    font-size: 1.1rem;
  }
  #banner p:last-child {
    font-size: 0.8rem;
  }

  .container1 {
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    margin: 0rem auto;
  }

  .container1 img {
    text-align: center;
    width: 90%;
    height: auto;
  }
  .boxx {
    width: 29rem;
    /* margin-top: 4rem; */
  }

  .boxx p {
    position: absolute;
    /* top: 74rem; */
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 2rem;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
    float: right;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav {
    height: 3.5rem;
  }
  #navright a {
    padding: 4px 10px;
    height: 10px;
    width: 10px;
    background: #353232;

    line-height: 20px;

    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  #navright a:hover {
    background: red;
  }
  #navright {
    width: 30%;
    float: left;
  }

  nav ul {
    position: fixed;

    left: -100%;
    background: #111;
    height: 100%;
    margin: 0;
    width: 45%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
    z-index: 100;
    flex-direction: reverse;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;

    color: rgba(31, 216, 176, 0.938);
  }
}

@media screen and (max-width: 920px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .boxfooter h2 {
    font-size: 1rem;
  }
  .main-content1 .boxfooter {
    padding: 10px 20px;
  }
  .main-content1 {
    font-size: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-content1 .boxfooter {
    margin: 5px 0;
  }
  .left .contentfooter .social1 a span {
    height: 40px;
    width: 40px;
    background: #353232;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
}
@media screen and (max-width: 320px) {
  /* body {
    background-color: rgb(112, 155, 117);
  } */
  #navright {
    width: 30%;
  }
  #navright a {
    padding: 6px 8px;
    height: 5px;
    width: 5px;

    font-size: 11px;
  }
}
